.photo-credit {
  text-align: right;
  color: #{$grey-color};
  font-size: 0.8rem;
  margin-top: 0;
}

.column-half {
  float: left;
  width: 100%;
  margin-bottom: 2rem;
}

.columns {
  overflow: auto;
}

@media (min-width: 600px) {
  .column-half {
    float: left;
    width: 45%;
    margin-right: 5%;
    margin-bottom: 0rem;
  }

  .columns .column-half:last-of-type {
    float: left;
    margin-right: 0%;
  }
}

.hanging-indent p {
  text-indent: -4rem;  /* negative indent for the first line */
  padding-left: 4rem;  /* indent for the rest of the lines */
}

.site-title {
  /*font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;*/
  font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}


h2, h3 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.copyright {
  color: #{$grey-color};
  font-size: 0.8rem;
}

@media (min-width: 600px) {
  .columnize {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

    -webkit-column-gap: 1.5 * $spacing-unit; /* Chrome, Safari, Opera */
    -moz-column-gap: 1.5 * $spacing-unit; /* Firefox */
    column-gap: 1.5 * $spacing-unit;

    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;

    margin-bottom: $spacing-unit
  }
}
